@import '../../styles/variables.scss';
.productList {
  &-header {
    margin-bottom: 1.6rem;
  }

  &-title {
    font-family: Open Sans;
    font-size: 2rem;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.025rem;
    color: #6f6f6f;
    margin-bottom: 1.6rem;
  }
  &-buttons {
    width: 12.9rem;
    height: 3rem;
    display: flex;
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 1.6rem;
      width: 6.1rem;
      height: 3rem;
      background: #f2f0fd;
      border-radius: 0.2rem;
      margin-right: 1.6rem;
      color: $primary;
      border: none;
      &.active {
        background: $primary;
        color: $white;
      }
    }
  }
  &-main {
    width: 60.8rem;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr;
    justify-items: center;
    gap: 2rem 0;
    padding-top: 2rem;
  }
  .product {
    width: 12.4rem;
    height: 25.5rem;
    &-image-container {
      height: 12.4rem;
      width: 12.4rem;
      background: #fefefe;
      border: 0.117666rem solid #f3f0fe;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-image {
      width: 9.2rem;
      height: 9.2rem;
      left: 89.6rem;
      background: #c4c4c4;
    }
    &-title {
      margin-top: 1rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #191919;
      height: 4rem;
    }
    &-cost {
      margin-top: 1rem;
      font-family: Helvetica;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $primary;
    }
    .addButton {
      border: none;
      width: 12.4rem;
      height: 2.2rem;
      background: $primary;
      border-radius: 0.2rem;
      margin-top: 2rem;
      color: $white;
    }
  }
}
