@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './normalize.scss';
@import './variables.scss';
@import './mixins.scss';
:root {
  @include mq('tablet') {
    font-size: 62.5%;
  }
  font-size: 1.33333vw;
  background-color: #e5e5e5;
}
.container {
  @include mq('tablet') {
    display: flex;
  }
  .filters {
    margin-left: 10.4rem;
    margin-bottom: 2rem;
  }
  .products {
    margin: 5rem 4rem;
  }
  .product-basket {
    margin-top: 5rem;
    @include mq('tablet') {
      display: block;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
