@import '../../../styles/variables.scss';
.product {
  width: 12.4rem;
  height: 25.5rem;
  &-image-container {
    height: 12.4rem;
    width: 12.4rem;
    background: #fefefe;
    border: 0.117666rem solid #f3f0fe;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-image {
    width: 9.2rem;
    height: 9.2rem;
    left: 89.6rem;
    background: #c4c4c4;
  }
  &-title {
    margin-top: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #191919;
    height: 4rem;
  }
  &-cost {
    margin-top: 1rem;
    font-family: Helvetica;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $primary;
  }
  .addButton {
    border: none;
    width: 12.4rem;
    height: 2.2rem;
    background: $primary;
    border-radius: 0.2rem;
    margin-top: 2rem;
    color: $white;
  }
}
