.card {
  width: 29.6rem;
  background: white;
  &-header {
    width: 100%;
    height: 3rem;
    background: #e5e5e5;
  }
  &-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    color: #697488;
  }
  &-form {
    width: 100%;
    height: calc(100% - 3rem);
    padding: 2rem;
  }
}
